@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Special Styles */
.fancy-link {
  background-image: linear-gradient(120deg, #80fa93 0%, #8fbaf0 100%);
  background-size: 100% 0.15rem;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms ease-in;
}

.fancy-link:hover {
  background-size: 100% 100%;
}
