<footer role="contentinfo" class="flex-initial bg-gray-200">
  <div class="max-w-screen-lg mx-auto py-8 px-4 sm:px-6 lg:py-6 lg:px-8">
    <div class="md:grid md:grid-cols-2 md:gap-8">
      <div class="md:col-span-1 text-sm">
        <p>View <a href="https://github.com/fephil/articulate-spinner" class="fancy-link">spinner source code</a>.</p>
      </div>

      <div class="md:col-span-1 text-sm md:text-right">
        <p>Copyright © 2020 <a href="https://phil.dev" class="fancy-link">Phil Lennon</a>.</p>
      </div>
    </div>
  </div>
</footer>
